@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model object
@{
}
<form>
    <div class="form-group">
        <label class="control-label">Mã công nhân</label>
        <input value="@Model.GetType().GetProperty("MaCongNhan").GetValue(Model,null)" class="form-control" />

    </div>
    <div class="form-group">
        <label class="control-label">Tên công nhân</label>
        <input value="@Model.GetType().GetProperty("TenCongNhan").GetValue(Model,null)" class="form-control" />

    </div>
    <div class="form-group">
        <label class="control-label">Giới tính</label>
        @if (String.Compare(@Model.GetType().GetProperty("GioiTinh").GetValue(Model, null).ToString(), "1", true) == 0) {
            <input name="fname3" type="checkbox" checked>
        } else {
            <input name="fname3" type="checkbox">
        }

    </div>



    <div class="form-group">
        <label class="control-label">Năm sinh</label>
        <input value="@Model.GetType().GetProperty("NamSinh").GetValue(Model,null)" class="form-control" />

    </div>

    <div class="form-group">
        <label class="control-label">Nước về</label>
        <input value="@Model.GetType().GetProperty("NuocVe").GetValue(Model,null)" class="form-control" />

    </div>

</form>
